.ContainerLanding{
    background-image: url('https://cdn.pixabay.com/photo/2018/03/19/18/20/tea-time-3240766_960_720.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size:cover;
    background-attachment: fixed;
}
.head{
    display: flex;
    justify-content: space-between;
}
.headBar{
    background:rgba(131, 131, 131, 0.5);  
}
.ContainerBody{
    background:rgba(150, 149, 149, 0.5); 
    height: 100vh;
}
.Bar{
   display: flex;
   background-size:cover;
   justify-content: space-between;
    background:rgba(134, 134, 134, 0.5);
    height: 95px;
}
.ContentContainer{
width: 100%;

}

.logoBar{
    padding:2%;
    margin-top: -1%;
    display: flex;
    color:grey
}
.logoBar h2{
    color:white;
    padding-top: -2px;
    font-size: 18px;
}
.body{
    display: flex;
    justify-content: space-between;
    color: white;
    /* margin-top: -1px; */
}
.body h2{
    margin-top: -2%;
}
.logo{
    display: flex;
    margin-left: -12%;
    padding:2%;
    margin-top: -1%;
}

.logo h3{
    color:beige;
    font-size: 20px;
    padding-top: 8%;
}

.head h3{
    color:rgb(226, 226, 219);
    margin-top: 2%;
    font-size: 20px;
}

.imgContainer{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.imgContainer img{
 width: 100%;
 height: 100%;
}
.ContainerRegister{
     background-image: url('https://cdn.pixabay.com/photo/2017/12/31/09/34/book-3051871_960_720.jpg');
    background-repeat: no-repeat;
    height: 100vh; 
     background-size:cover;
    background-attachment: fixed; 
     object-fit: contain; 
    position: relative;
    background-color: gray;
}
.Register{
    align-items: center;
    text-align: center;
    z-index: 999;
}
.headings{
    text-align: center;
    margin-left: -4%;
}
.headings h1{
    color:rgb(255, 255, 255)
}
.headings p{
    color:rgb(184, 184, 178);
    font-size: 17px;
}
.signBody{
margin-top: 5%;
margin-left: 50%;
}
.input-icons i{
    color:rgb(88, 88, 88)
}

.backBody{
    background:rgba(126, 124, 124, 0.5);
    height: 100vh;  
}
.buttons{
    padding: 1%;
    margin-left: -5%;
}
.progressLoader{
    position: absolute;
    /* left: -20; */
    top: 0;
    align-content: center;
    margin-top: 20%;
    /* background:rgba(250, 248, 248, 0.5); */
    /* height: 100vh; */
   
}
.forgotButton{
    margin-left:25%;
    /* margin:1%; */
    padding:2%;
     border:none ;
     margin-top: -6%;
    border-radius: 5px;
    color:rgb(250, 250, 236);
    font-weight: 700;
    font-size: 15px;
    background-color: transparent;
}
.forgotButton:hover{
    text-decoration: underline 2px;
}
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding:1%;
    margin:2%;
    border-radius: 5px;
    background-color: #175273;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
}
.banner p{
    font-size: 25px;
    font-weight: 600;
    padding-top: 4%;
   color: #ffffff;
}

.banner a{
    padding:2%

}
.manageHeader{
    padding:1%;
    display: flex;

    justify-content: space-between;
}
.manageHeader h3{
    font-weight: 400;
    font-family: cursive;
    font-size: 20px;
    text-decoration: underline;
}
.iconsActive{
    display: flex;
    margin-right: 2%; 
}
.iconsActive i{
    margin-top: 1%;
}
.delete{

    color:blue;   
    display: flex;
}
.searchIcon{
    width:350px;
    padding:4%;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    /* border-color: black; */
    /* margin-right: 2%; */
}

.iconsActive p{
    background-color: rgb(77, 77, 167);
    padding: 6%;
    /* padding-left: -8%; */
    margin-left: -8%;
}
.listUsers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding:1%;
    margin:2%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
}
.listUsers p{

}

.create{
    margin-left:5%;
    width: 395px;
    padding:1%;
    /* border-color:rgb(199, 46, 46); */
    border-radius: 5px;
    /* color:rgb(199, 46, 46); */
    font-weight: 700;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid rgb(199, 46, 46);
    color: rgb(199, 46, 46);
}
.create:hover{
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.logButton{
    margin-top:-2%;
    margin-left:5%;
    width: 395px;
    padding:1%;
    /* border-color:rgb(199, 46, 46); */
    border-radius: 5px;
    /* color:rgb(199, 46, 46); */
    font-weight: 600;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid rgb(199, 46, 46);
    color: rgb(199, 46, 46);
}
.Register input{
    width: 400px;
    margin-left: 2%;
padding: 2%;
font-weight: 600
}
.Register p{
    color:rgb(250, 250, 236);
    font-weight: 700;
}
.Register a{
    /* text-decoration: underline; */
    font-size: 20px;
    color:rgb(58, 58, 58);
    font-weight: 600;
}
.Register a:hover{
    text-decoration: underline 2px ;
    transition: 10s;
}
input{
    width: 65%;
    height:50px;
}
.body h2{
    color:rgb(226, 222, 222);
    width: 55%;
    padding:2%;
    font-size: 45px;
    margin-top: 4%;
    font-weight: 700;
    /* font-family: 'Roboto', sans-serif; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navBar ul{
    margin-top: 6%;
    font-weight: 600;
    color:white
}
.questions{
    margin:2%;
}

.questionCard{
    /* background-color: rgb(18, 102, 102) ; */
    width: 380px;
    height: 200px;
    margin:2%;
    padding-top: 4%;
    text-align: center;
    box-shadow: 5px 5px 5px  #888888;
    justify-items: center ;
}

.questionCard h3{
    font-size: 25px;
    font-weight: 400;
}
.lessonCard h3{
    font-size: 25px;
    font-weight: 400;
}
.booksCard h3{
   
        font-size: 25px;
        font-weight: 400;
    
}
.bodyContent h2{
    text-align: center;
    font-size: 35px;
    color:rgb(49, 49, 49);
    font-weight: 600;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lessonCard{
    width: 380px;
    height: 200px;
    margin:2%;
    text-align: center;
    padding-top: 4%;
    justify-items: center ;
    box-shadow: 5px 5px 5px  #888888;
}
.booksCard{
    width: 380px;
    height: 200px;
    margin:2%;
    text-align: center;
    padding-top: 4%;
    justify-items: center ;
    box-shadow: 5px 5px 5px  #888888;
}

.sub{
    align-items: flex-end;
    width: 45%;
    margin-top: 20%;
    font-size: 16px;
    padding-right: 2%;
    font-weight: 500;

}


.subtitle{

}
.click{
    padding:3% 15%;
    border:none;
    background-color:rgb(77, 77, 167);
    color:white;
    font-weight: 700;
    font-size: 25px;
    border-radius: 8px;
}
.bann{
    background:rgba(94, 93, 93, 0.5)
}

.bodyContent h1{
    text-align: center;
    font-size: 40px;
    color:rgb(236, 157, 157);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.CardResourses{
    width: 80%;
    margin: auto;
    padding: auto;
    flex:1;
    justify-content: center;
    display: flex;
    margin-top: 5%;
    
}

.Cont{
    /* width: 100%; */
    display: flex;
}
.sidenav{
    flex: 1;
    background-color: rgb(16, 16, 54);
    height: 100vh;
    padding-top: 2%;
    color:white;
    font-size: 20px;
}
.app{
    flex: 6;
    padding:2%;
    /* margin-top: 1%; */

}
.app h3{
    font-size: 35px;
    margin-bottom: 3%;
    /* text-align: center; */
}
.form{
margin-top: 2%;
width: 55%;
/* margin:auto */

}


select{
    width: 40%;

}

.mb-3{
    margin-top: 4%;
}
.button{
    width: 25%;
    align-items: flex-start;
    margin-left: -1px;
    border-radius: 5px;
    border-color: rgb(16, 16, 54);
    background-color: transparent;
    color: rgb(16, 16, 54);
}
#back{
    width: 25%;
    border: 1px solid;
    margin: 4%;
    border-radius: 5px;
    background-color: rgb(53, 53, 116);
    /* background-color: transparent; */
    color: white;
    font-weight: 200 !important;
      /* text-decoration: underline; */
}
.tabs{
    border: none;
    margin-left: 20%;
}

.lessonLink{
    padding: 15%;
    font-weight: 400;
    font-size: 15px;
}
.contentContainer{
    background-color: white;
    flex: 6;
    padding:2%;
    margin-top: -2%;
}
.cardholder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search{
    height: 50px;
    margin-left: -1%;
    border:none;
    font-size: 25px;
    font-weight: 500;
}

.card-body{
    height: 80px;
    background:rgba(133, 133, 133, 0.5);
    /* margin-top: -5%; */
    color:white;
    font-weight: 600;
}
#exampleFormControlInput1{
    height: 40px;
    margin-left: -1px;
}
.card{
    margin-top: 3%;
    margin-left: 3%;
}
.lessonLink a:hover{
    text-decoration: underline;
    transition: 0.8ms;
}
.lessonLink a{
    color: white;
    text-decoration: none;
}



#inputGroupFile03{
    height: 40px;
    margin-top: -2%;
    margin-left: -1px;

}


.form h4{
    /* margin-top: -4%; */
    font-size: 35px;
    font-weight: 400;
}

.picker{
    display: flex;
}

.select{
    /* padding-left: -12%;
    width: 45%;
    padding-top: -2%;
    border:1px solid rgb(133, 131, 131);
    margin:2%;
    margin-left: 8%;
    margin-top: -1%;
    border-radius: 5px; */
    text-align: start;
    margin-top: 3%;
    /* padding:2% */
}



.form-select{
    /* margin-left: 2%;
    width: 20%;
    height: 40px; */
    /* padding:2% */
    width: 10px;
}
.textarea{
    margin-left: 13%;
   width: 45%; 
    border-radius: 5px;
}
label{
    font-size: 18px;
    color:rgb(16, 16, 54);
    font-weight: 500;

}
.descript{
    margin-top: -2%;
}
.date{
    height: 40px;
   width: 45%;
}






