*{
   
    box-sizing: border-box;
}

.notification{
    /* padding-left: 20px;
    padding-right: 20px; */
    padding:2%;
    padding: auto;
    margin: auto;
    /* justify-content: center; */
}

.NotifCard{
    background-color: white;
    height: 160px;
    /* width: 80%; */
    display: flex;
    justify-content: first baseline;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    /* align-items: flex-start; */
}

.names{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}
.names h3{
    font-size: 25px;
}
.time{
    color: #4B7BE8;
    font-weight: 800;
}
.notifimageconatainer{
    margin-left: 2%;
}
.Notifcontainer{
 flex: 1;
    margin-left: 5%;
    min-height: 20px;
}
.message{
    margin-top: 5px;
}
.message h4{
    font-size: 20px;
}
.message h4 span{
    color: #4B7BE8;
}
.iconandname{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 222, 222);
    width: 200px;
    padding: 10px;
    margin-left: 5px;
    
}

.iconandname p{
    font-weight: 900;
}
.detailsNotifContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}