/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

.container{
    position: fixed;
    height: 100%;
    background-color: #F4F4F4;
}
.content-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -2%;
}
.image{
    width: 25%;
    margin-top: 6%;
    height: 10%;
    margin-left: 8%;
}
.content form{
    text-align: center;
}
input{
    width: 50%;
   padding: 1%;
    margin:1%;
    border-right:rgb(209, 209, 209)  0.8px solid ;
    border-bottom:rgb(209, 209, 209) 0.8px solid  ;
    outline: none;
    font-size: 24px;
    font-weight: 100;
    border-left: rgb(209, 209, 209)  0.8px solid;
    border-top:rgb(209, 209, 209)  0.8px solid ;
}
.button{
    background-color: #4B7BE8;
    width: 15%;
    padding:1%;
    color:white ;
    font-size: 25px;
    border-color: #4B7BE8;
    margin-left: 24%;
    font-weight:400 ;
}

.header{
    display: flex;
    padding:2%;
    padding-left: 10%;
}
.head{
    color: #898C8F;
    padding-right: 2%;
    font-weight: 400;
    padding-left: 10%;
  
}
.admin{
    color: #898C8F; 
    font-weight: 400;
}
.sharp{
    color: #4B7BE8;
    font-weight: 500;
    padding-left: -2%;
}
.content h2{
    text-align: center;
    margin-top: 2%;
    color: #4B7BE8;
    font-size: 35px;
    font-weight: 500;
}
.footer{
    background-color: #4B7BE8;
    position:absolute;
    bottom:0px;
    width:100%;
    height:100px;
}
.login-content-container{
    width: 100%;
    display: flex;
}
.login-content input{
    width: 55%;
     padding: 2%;
      margin:1%;
      border-right:rgb(209, 209, 209)  0.8px solid ;
      border-bottom:rgb(209, 209, 209) 0.8px solid  ;
      outline: none;
      font-size: 24px;
      font-weight: 100;
      border-left: rgb(209, 209, 209)  0.8px solid;
      border-top:rgb(209, 209, 209)  0.8px solid ;
  
}
.link h4{
    text-align: left;
    font-size: 25px;
    padding-right: 1%;
    color: #3a3a3c;
    font-weight: 500;
}
.link{
    display: flex;
    padding-left: 20%;

}
.images{
    width: 25%;
    margin-top: 2%;
    height: 10%;
    margin-left: 4%;
   
}
.login-content form{
    text-align: center;
    margin-top: 3%;
}
.button-log{
    background-color: #4B7BE8;
    width: 15%;
    padding:1.3%;
    color:white ;
    font-size: 25px;
    border-color: #4B7BE8;
    margin-left: 20%;
    font-weight:400 ;
}
.login-content{
    width: 70%;
}
.login-content h2{
    text-align: center;
    color: #4B7BE8;
    font-size: 35px;
    font-weight: 500;
}
.login-content h3{
    justify-self: flex-end;
    padding-left: 48em;
    color: #3a3a3c;
    font-weight: 600;
    font-size: 19px;
}
a{
    text-decoration: none;
}
.login-container{
    background-color: #F4F4F4;
    height: 100vh;
}
.picture{
    width: 25%;
    height:15%;
    margin-top: 2%;
}
.screens{
    color: #4B7BE8;
    margin-top: 15%;
    font-weight: 700;
    padding:2%;
 
   
}
.menu-container{
    width: 10%;
    padding:2%;
    margin-top: -2%;
    border-right: #4B7BE8 0.5px solid;
    height: 100vh;
    background-color: white;
    margin-left: -2%;
}
.head-container{
    display: flex;    
}
.head-container h2{
    font-size: 25px;
    color: #3a3a3c;
    font-weight: 500;
    padding-left: 1%;
    margin-top: 4%;
}
i{
    padding:2%;
    color: #4B7BE8;
    
}
.heading{
    margin-left: -4%;
    display: flex;
    justify-content: space-between;
}
.home-container{
    width: 98%;
    display: flex;
    padding:1%;
    height: 100vh;
    background-color: #F4F4F4;
    position: fixed;

}
.data{
    width: 70%;
    margin-left: -78%;
    background-color: #F4F4F4;
}
.search i{
    position: absolute;
    padding: 20px;
    min-width: 40px;
   
}
.search input{
    width: 700px;
    border-radius: 10px;
    border-left: #4B7BE8 0.5px solid;
    border-right: #4B7BE8 0.5px solid;
    border-top: #4B7BE8 0.5px solid;
    border-bottom: #4B7BE8 0.5px solid;
    padding-left:6% ;
    
}
.username{
    display: flex;
    margin-top: -1%;
}
.username i{
    margin-top: 4%;
    margin-left: 12%;
    color:grey
}
.icon i{
    color:red;
    margin-top: 1em !important;
    margin-left: 12%;
}
.body{
    margin-top: 4%;
  
}
.text-head{
    text-align: center;
    background-color: #4B7BE8;
    margin-left: -4%;
    border-radius: 10px;
    height: 75px;
    color:white;
    font-weight: 400;
}
.text-head h1{
    justify-self: center;
    padding-top: 1%;
    font-weight: 400;
    

}
.cards{
    align-items: center;
}
.questions{
    display: flex;
    padding:6%;
    justify-content: space-around;
}
.question{
    background-color: white;
    padding:2%;
    width: 30%;
    text-align: center;
}
.question h3{
    font-weight: 400;
    color:grey
}
.lesson{
    background-color: white;
    padding:3%;
    width: 30%;
    text-align: center;
}
.lesson h3{
    font-weight: 400;
    color:grey
}
.books{
    background-color: white;
    padding:2%;
    width: 25%;
    text-align: center;
}
.offered{
    display: flex;
    margin-left: 1%;
    justify-content: space-evenly;
}
.books h3{
  font-weight: 400;
    color:grey  
}
.material{
    background-color: white;
    padding:2%;
    width: 28%;
    text-align: center;
    margin-left: 1%;
}
.material h3{
    font-weight: 400;
    color:grey  
}
.active{
    background-color: #4B7BE8;
    color: white;
   padding-left: 2%;
    text-align: left;
 
}
.active i{
    color: white;
    margin-top: 1%;
}